<ion-view hide-nav-bar="true">
       
    <ion-content has-header="false"  scroll="true">
		<ion-refresher pulling-text="Pull to Refresh" on-refresh="loadbuildings()"></ion-refresher>
        <div class="bar bar-header bar-positive">
		  <h1 class="title">Select Your Building</h1>
		  <ion-searchbar></ion-searchbar>
		</div>
		<div class="content has-header">
			<div class="list">
				<a ng-repeat="(key,building) in buildings" class="item item-icon-left" ng-click="loginprop(key,building.building_name)">
				<i class="icon"><img src="img/appartment.png" alt="appartment"></i>
				{{building.building_name}}
				</a>
			</div>
		</div>
     
    </ion-content>
        
       
      </ion-view>