<ion-view view-title="ArchValet">
  <ion-header-bar align-title="left" class="header-bar">
    <div class="buttons">
      <button ng-click="myGoBack()" class="button button-icon button-clear ion-chevron-left" menu-toggle="left"></button>
    </div>

    <h1 class="title">Notifications
  	  <!-- <img class="header-logo" src="img/logo.png"> -->
  	  <!-- <button style="margin:5px !important;float:right;" disabled="true" id="btndelnotifi" class="btn btn-red" >Delete Notifications</button> -->
    </h1>
  </ion-header-bar>
    
  <ion-content style="background:#f7f7f7;" class="notification-content" scroll="true">
	<ion-refresher pulling-text="Pull to Refresh" on-refresh="reloadNewNotification()"></ion-refresher> 
     <div ng-if="notifyAvail == 0" class="text-center middle"> No Notifications Available</div>
	 
	 
    <div ng-repeat="notification in notifications" class="notification-card" ng-if="notifyAvail == 1">
      <div class="list card">
        <div class="item item-avatar">
          <div class="thumbnail">
            <img src="https://png.icons8.com/{{notification.type}}/win8/50/{{notification.color}}" data-ng-class="{ 'cariconvisible': (notification.type == 'truck' || notification.type == 'suv') }" style="display: none;">
            <img src="https://png.icons8.com/shuttle/win8/50/{{notification.color}}" data-ng-class="{ 'cariconvisible': (notification.type == 'van') }" style="display: none;">
            <img src="https://png.icons8.com/sedan/win8/50/{{notification.color}}" data-ng-class="{ 'cariconvisible': (notification.type == 'sydain') }" style="display: none;">
          </div>
          <h2 class="positive">{{notification.title}}</h2>
          <p>{{notification.date * 1000 | date:'MMM d, y, HH:mm a'}} <a ng-click="deleteNotifi(notification.id);"> <i class="ion-trash-b"></i></a></p>
        </div>

        <div class="item item-body">
          <p>{{notification.message}}</p>
          <p>Made: {{notification.model}}</p>
          <p>Plate No: {{notification.plate_number}}</p>
        </div>
      </div>
    </div>     
  </ion-content>
</ion-view>
