<ion-view view-title="ArchValet" nav-transition="none">

    <ion-header-bar align-title="left" class="header-bar">
        <!--  <div class="buttons">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </div>-->
        <h1 class="title"><img class="header-logo" src="img/logo.png"></h1>
        <!--  <div class="buttons">
            <button ng-click="opensearch()" class="button button-icon button-clear ion-search">
                </button>
          </div>-->
    </ion-header-bar>

    <ion-content>
       
<ion-refresher pulling-text="" on-refresh="loadCars()"></ion-refresher>

       <!-- <ion-content scroll="false"> -->
            <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">
                <ion-slide-page ion-slide-tab-label="My Vehicles">
					<div class="row tableheader">
						<div class="col">Vehicle
                        </div>
                        <div class="col">Make
                        </div>
                        <div class="col">Model
                        </div>
                        <div class="col">Action
                        </div>
                    </div>
                    
                    <div ng-if="car.visitor == 0" ng-repeat="(key,car) in cars" class="card cardetails" >
                        <div class="item item-text-wrap mens-product">
                            <div class="row">
								<div class="col cars_block">								
									<img src="https://png.icons8.com/{{car.type}}/win8/50/{{car.color}}" ng-show = "car.type == 'truck' || car.type == 'suv'">
									<img src="https://png.icons8.com/shuttle/win8/50/{{car.color}}" ng-show = "car.type == 'van'">
									<img src="https://png.icons8.com/sedan/win8/50/{{car.color}}" ng-show = "car.type == 'sydain'">
								</div>
                                <div class="col">{{car.made}}
                                </div>
                                <div class="col">{{car.model}}
                                </div>
                                <div class="col requestLink">
                                    <a class="requested" style="background:#269946; float:left;" ng-if="car.statuss == 1">Requested</a>
                                    <a style="margin-top: 5px;" ng-if="car.statuss == 1"  class="cancle" ng-click="cancle_request(key,car.id)">Cancel</a>
                                    <a style="float:left" ng-if="car.statuss == 3 || car.statuss == '' || car.statuss == 4 " ng-click="request(key,car.id)">Request</a>
                                    <a style="background:red" ng-if="car.statuss == 2">Car Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</ion-slide-page>
                <ion-slide-page ion-slide-tab-label="Guest">
					<div class="row tableheader">
                        <div class="col">Vehicle
                        </div>
                        <div class="col">Made
                        </div>
                        <div class="col">Ticket No
                        </div>
                        <div class="col">Action
                        </div>
                    </div>

                    
                    <div ng-if="car.visitor == 1" ng-repeat="(key,car) in cars" class="card cardetails" >
                        <div class="item item-text-wrap mens-product">
                            <div class="row">
								<div class="col cars_block">								
									<img src="https://png.icons8.com/{{car.type}}/win8/50/{{car.color}}" ng-show = "car.type == 'truck' || car.type == 'suv'">
									<img src="https://png.icons8.com/shuttle/win8/50/{{car.color}}" ng-show = "car.type == 'van'">
									<img src="https://png.icons8.com/sedan/win8/50/{{car.color}}" ng-show = "car.type == 'sydain'">
								</div>
                                <div class="col">{{car.made}}
                                </div>
                                <div class="col">{{car.ticket_no}}
                                </div>
                                <div class="col requestLink">
                                    <a class="requested" style="background:#269946; float:left;" ng-if="car.statuss == 1">Requested</a>
                                    <a style="margin-top: 5px;" ng-if="car.statuss == 1"  class="cancle" ng-click="cancle_request(key,car.id)">Cancel</a>
                                    <a style="float:left" ng-if="car.statuss == 3 || car.statuss == '' || car.statuss == 4 " ng-click="request(key,car.id)">Request</a>
                                    <a style="background:red" ng-if="car.statuss == 2">Car Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</ion-slide-page>
            </ion-slides>
        <!-- </ion-content> -->
		   
<!--

                    <div ng-click="openAddForm()" class="row addcarrow">
                        <div class="col col-100 addcar"><a>Add a Car</a></div>
                    </div>-->


    </ion-content>


    <script id="addCar.html" type="text/ng-template">
        <ion-modal-view class="add-modal">
        <ion-content class="add-content">

        <div class="row addcarrow1">
        <div class="col col-100 addcarcol1">
        <p style="float:left;color:#8C0C04;">Car Informations</p>
        <p ng-click="close_add_car()" style="float:right;color:#8C0C04; font-size:23px;">X</p>
        </div>
        </div>

        <div class="row addcarrow2">
        <div class="col col-100 addcarcol2">
        <p>Parking Spot</p>
        <span class="addcarError" ng-show="parkingError">({{errors.parkingError}})</span>
        <input id="parking" class="registerinput" type="text" placeholder="eg: 328" >
        </div>
        </div>


        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Made</p>
        <span class="addcarError" ng-show="madeError">({{errors.madeError}})</span>
        <input id="made" class="registerinput" type="text" placeholder="eg: Toyota">
        </div>
        </div>
        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Modal</p>
         <span class="addcarError" ng-show="modalError">({{errors.modalError}})</span>
        <input id="modal" class="registerinput" type="text" placeholder="eg: Corolla LX">
        </div>
        </div>
        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Color</p>
          <span class="addcarError" ng-show="colorError">({{errors.colorError}})</span>
        <input id="color" class="registerinput" type="text" placeholder="eg: White">
        </div>
        </div>

        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Plate Numbar</p>
         <span class="addcarError" ng-show="plateError">({{errors.plateError}})</span>
        <input id="plate" class="registerinput" type="text" placeholder="eg: CHE-2586">
        </div>
        </div>

        <div class="row addcarrow4">
        <div class="col col-100 addcarcol4">
        <button ng-click="add_car()" class="carformSubmit">Submit</button>

        </div>


        </ion-content>
        </ion-modal-view>
    </script>
    
        
        <script id="addCar1.html" type="text/ng-template">
        <ion-modal-view class="add-modal">
        <ion-content class="add-content">

        <div class="row addcarrow1">
        <div class="col col-100 addcarcol1">
        <p style="float:left;color:#8C0C04;">Car Informations</p>
        <p ng-click="close_add_car1()" style="float:right;color:#8C0C04; font-size:23px;">X</p>
        </div>
        </div>

        <div class="row addcarrow2">
        <div class="col col-100 addcarcol2">
        <p>Parking Spot</p>
         <span class="addcarError1" ng-show="parkingError1">{{errors1.parkingError}}</span>
        <input id="parking1" class="registerinput" type="text" placeholder="eg: 328">
        </div>
        </div>


        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Made</p>
        <span class="addcarError1" ng-show="madeError1">({{errors1.madeError}})</span>
        <input id="made1" class="registerinput" type="text" placeholder="eg: Toyota">
        </div>
        </div>
        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Modal</p>
        <span class="addcarError1" ng-show="modalError1">({{errors1.modalError}})</span>
        <input id="modal1" class="registerinput" type="text" placeholder="eg: Corolla LX">
        </div>
        </div>
        <div  class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Color</p>
        <span class="addcarError1" ng-show="colorError1">({{errors1.colorError}})</span>
        <input id="color1" class="registerinput" type="text" placeholder="eg: White">
        </div>
        </div>

        <div class="row addcarrow3">
        <div class="col col-100 addcarcol3">
        <p>Plate Numbar</p>
        <span class="addcarError1" ng-show="plateError1">({{errors1.plateError}})</span>
        <input id="plate1" class="registerinput" type="text" placeholder="eg: CHE-2586">
        </div>
        </div>

        <div class="row addcarrow4">
        <div class="col col-100 addcarcol4">
        <button ng-click="add_car1()" class="carformSubmit">Submit</button>
        </div>


        </ion-content>
        </ion-modal-view>
    </script>


</ion-view>
