.slideTop{
    text-align: center;
    background:#EEEEEE;

}
.slideTop-col a{
    text-decoration: none;
    color: black;
}
.slideTop-col{
    border-bottom: 2px solid #ccc;
}
.addcar{
    background: #269946;
    text-align: center;
    border-radius: 3px;
}
.addcar a{
    color:white;
    font-weight: bold;
}
.header-logo{
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
	margin: 5px auto;
}

.tableheader{
    background:#387ef5;
    color:white;
    margin-top: 0;
}

.addcarrow{
    margin-bottom: 6px;
}
.cardetails{
        margin-right: 0px;
    margin-left: 0px;
    margin-top:0px;
    margin-bottom: 6px;
}

.requestLink a{
    color:white;
    text-align:center;
    background: #8e1009;
    padding-left: 13px;
    padding-right: 11px;
    padding-bottom: 4px;
    font-size: 14px;
    border-radius: 3px;
    padding-top: 3px;
 
}
.requestLink{
    text-align: center;
}

.add-modal{
    margin-top:44px;
    padding:20px;
    border-radius: 0px!important;
}

.add-content{
    margin:7px;

}

.add-modal{
    opacity:1;
}
.addcarinput{
    width:100%;
    margin-top: 5px;
}

.carformSubmit{
        width: 100%;
    padding: 9px;
    margin-top: 22px;
    background: #269946;
    color:white;
}

.addcarcol1{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
}

.addcarinput{
    border-bottom: 1px solid #ccc!important;
}

.visitors-wrap{
    padding: 0px;
}
.visitcarinfo{
  font-size: 13px;
  color:#ccc;
}

.ion-person-stalker:before {
    font-size: 25px;
}
.ion-ios-bell:before{
    font-size: 25px;
}
.ion-model-s:before{
    font-size: 25px;
}

.tab-item.tab-item-active{
    border-top: 2px solid #8C0C04;
}

.tab-nav.tabs{
    padding-top: 0px!important;
}
.tab-item{
    padding-top: 5px;
}
.bottom-tabs.tabs-striped .tabs {
    border-bottom: none;
}
.bottom-tabs .tab-item{
    max-width: initial;
}
.bottom-tabs .tab-item .icon {
    height: auto;
}
.bottom-tabs .tab-item .tab-title {
    font-size: 13px;
}
.notification-card .card{
    margin-bottom: 10px !important;
    box-shadow: 0 0 5px 2px #efefef;
    border-radius: 10px;
}
.notification-card .list .item-avatar {
    padding-left: 16px !important;
}
.notification-card .list .item-avatar .thumbnail {
    float: left;
    margin-right: 15px;
}
.notification-card .list .item-avatar img{
    border-radius: 0;
}
.notification-card .list .item-avatar h2{
    font-weight: bold;
    color: 
}
.notification-card .list .item-avatar i{
    font-size: 30px;
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.notification-card .list .item-body p{
    margin-top: 0;
    margin-bottom: 5px;
}
.car-list.list{
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}
.car-list .item{
    border: none;
    border-bottom: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #efefef;
    padding: 20px 10px;
}
.car-list .item-thumbnail-left {
    padding-left: 16px;
}
.car-list .item .thumbnail {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    line-height: 80px;
}
.car-list .item .thumbnail img {
    width: 100%;
}
.car-list .button{
    height: auto;
    min-height: auto;
    line-height: initial;
    padding: 5px 12px;
    margin-top: 5px;
}
.car-list .button-assertive{
    background-color: #8e1009;
}
.popup-container .popup{
    background-color: #fff;
    padding-top: 9px;
}

.notification-content{
    background:white;
}

.notificatio-wrap{
    font-size: 14px;
}
   
.notificatio-wrap{
    padding: 0px;
}
.ion-ios-clock-outline{
    font-size: 18px;
}
.notification-card{
    margin-top: 11px;
}
.loginContent .scroll{
    transform: initial !important;
}
.login_section{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginLogo{
    width: 70%;
}
.logininputfield{
    width: 100%;
    box-shadow: 0px 0px 0px 1px #999;
}
.profile .card {
    padding: 30px 0;
    margin: 20px 10px 0px 10px;
}
.profile .card i{
    color: #387ef5;
    font-size: 40px;
}
.profile .card:hover{
    background-color: #387ef5;
    color: #fff;
}
.profile .card:hover i{
    color: #fff;
}
.inputrow1{
    margin-top:30px!important;
    padding-left: 0px;
    padding-right: 0px;
}



/*.login-btn{
    width:100%;
    color:white;
    background:#269946;
    padding:10px;
    border:none;
}*/
.forgotpass{
    padding-left: 5px;
}

.regBtn{
    width: 100%;
    color:white;
    background:#F26900;
    border:none;
    padding:10px;
        box-shadow: 0px 2px #999;
}

.noaccount{
    margin-top: 40px;
    padding-left: 5px;
}

.resisterbtnrow{
    margin-top: 0px!important;
    padding-top: 0px!important;
}

.regcol{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.inputcol2{
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 10px;    
   padding-top: 10px;
}
.logincol{
    padding-left: 0px;
    padding-right: 0px;
        
}

/*.loginContent{
    padding:6px;
    background: #CACACA;
}*/

.registerinput{
    width: 100%!important;
    border: 1px solid #ccc!important;
    padding-left: 15px!important;
}

.register-content{
    background:#F7F7F7;
}

.registerbtn{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background:#269946;
    color:white;
}

.col.col-30.requestLink > a{
    width:100%;

}

.profileeditbtn{
    width:100%!important;
    padding:5px!important;
    border:none;
    background: #F26900;
    color:white;
}

.logoutbtn{
    width: 100%!important;
    padding:5px!important;
    background: #A3A5A7;
    color:white;
    
}

.item.item-text-wrap.profile{
    padding-top: 0px;
    padding-bottom: 0px;
}

.selected_colors{
    border: 4px solid red!important;
}


.loginhome{
    position: absolute;
    font-size: 22px;
    color: #ccc;
    line-height: 40px;
    margin-left: 8px;
}
.logininputfield{
    padding-left: 32px!important;
    border-radius: 2px;
    height: 40px!important;

}


.selectedTab{
    border-bottom:3px solid blue!important;
}

.selectedTab1{
    border-bottom:3px solid blue!important;
}

.requested{
    margin-bottom:6px!important;
}

.addcarError {
    background: white none repeat scroll 0 0;
    color: #8e1009;
    margin-left: 2px;
}
.addcarError1 {
    background: white none repeat scroll 0 0;
    color: #8e1009;
    margin-left: 2px;
}

.col.col-50.vehi.slideTop-col{
    border-bottom: 3px solid #8e1009;
}
.col.col-50.geust.slideTop-col{
    border-bottom: 3px solid #8e1009;
}

.notiCount{
  position: absolute;
  margin-left:14px;  
  margin-top: -10px;
  float: left;
  left: 48%;

}
/*ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #8e1009 !important;
	border-color: #8e1009 !important;
}*/
.loginContent {
	height: 100% !important;
}
.btn-red{
	background-color: #8e1009;
	color: #fff;
	border: none;
	border-radius: 2px;
}
.cars_block img{
	width: 50%;
}
.swiper-container-horizontal > .swiper-pagination{
	display: none;
}
.swiper-container {
    overflow-y:auto;
}
@media (max-width: 375px){
    .profile .card {
        padding: 20px 0;
    }
    .profile .card p {
        font-size: 13px;
    }
}