.slideTop{
    text-align: center;
    background:#EEEEEE;

}
.slideTop-col a{
    text-decoration: none;
    color: black;
}
.slideTop-col{
    border-bottom: 2px solid #ccc;
}
.addcar{
    background: #269946;
    text-align: center;
    border-radius: 3px;
}
.addcar a{
    color:white;
    font-weight: bold;
}
.header-logo{
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80px;
	margin: 5px auto;
}

.tableheader{
    background:#8e1009;
    color:white;
    margin-top: 5px;
    margin-top: 1px;
}

.addcarrow{
    margin-bottom: 6px;
}
.cardetails{
        margin-right: 0px;
    margin-left: 0px;
    margin-top:0px;
    margin-bottom: 6px;
}

.requestLink a{
    color:white;
    text-align:center;
    background: #8e1009;
    padding-left: 13px;
    padding-right: 11px;
    padding-bottom: 4px;
    font-size: 14px;
    border-radius: 3px;
    padding-top: 3px;
 
}
.requestLink{
    text-align: center;
}

.add-modal{
    margin-top:44px;
    padding:20px;
    border-radius: 0px!important;
}

.add-content{
    margin:7px;

}

.add-modal{
    opacity:1;
}
.addcarinput{
    width:100%;
    margin-top: 5px;
}

.carformSubmit{
        width: 100%;
    padding: 9px;
    margin-top: 22px;
    background: #269946;
    color:white;
}

.addcarcol1{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
}

.addcarinput{
    border-bottom: 1px solid #ccc!important;
}

.visitors-wrap{
    padding: 0px;
}
.visitcarinfo{
  font-size: 13px;
  color:#ccc;
}

.ion-person-stalker:before {
    font-size: 25px;
}
.ion-ios-bell:before{
    font-size: 25px;
}
.ion-model-s:before{
    font-size: 25px;
}

.tab-item.tab-item-active{
    border-top: 2px solid #8C0C04;
}

.tab-nav.tabs{
    padding-top: 0px!important;
}
.tab-item{
    padding-top: 9px;
}

.notification-content{
    background:white;
}

.notificatio-wrap{
    font-size: 14px;
}
   
.notificatio-wrap{
    padding: 0px;
}
.ion-ios-clock-outline{
    font-size: 18px;
}
.notification-card{
    margin-top: 11px;
}
.logininputfield{
    width: 100%;
    box-shadow: 0px 1px #999;

}

.inputrow1{
    margin-top:30px!important;
    padding-left: 0px;
    padding-right: 0px;
}



.login-btn{
    width:100%;
    color:white;
    background:#269946;
    padding:10px;
    border:none;
}
.forgotpass{
    padding-left: 5px;
}

.regBtn{
    width: 100%;
    color:white;
    background:#F26900;
    border:none;
    padding:10px;
        box-shadow: 0px 2px #999;
}

.noaccount{
    margin-top: 40px;
    padding-left: 5px;
}

.resisterbtnrow{
    margin-top: 0px!important;
    padding-top: 0px!important;
}

.regcol{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.inputcol2{
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 10px;    
   padding-top: 10px;
}
.logincol{
    padding-left: 0px;
    padding-right: 0px;
        
}

/*.loginContent{
    padding:6px;
    background: #CACACA;
}*/
.login-btn{
    box-shadow: 0px 2px #999;
}

.registerinput{
    width: 100%!important;
    border: 1px solid #ccc!important;
    padding-left: 15px!important;
}

.register-content{
    background:#F7F7F7;
}

.registerbtn{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background:#269946;
    color:white;
}

.col.col-30.requestLink > a{
    width:100%;

}

.profileeditbtn{
    width:100%!important;
    padding:5px!important;
    border:none;
    background: #F26900;
    color:white;
}

.logoutbtn{
    width: 100%!important;
    padding:5px!important;
    background: #A3A5A7;
    color:white;
    
}

.item.item-text-wrap.profile{
    padding-top: 0px;
    padding-bottom: 0px;
}

.selected_colors{
    border: 4px solid red!important;
}


.loginhome{
position: absolute;
font-size: 27px;
color: #ccc;
margin-top: 5px!important;
margin-left: 8px;

}

.logininputfield{
    padding-left: 32px!important;
    border-radius: 2px;
    height: 40px!important;

}


.selectedTab{
    border-bottom:3px solid blue!important;
}

.selectedTab1{
    border-bottom:3px solid blue!important;
}

.requested{
    margin-bottom:6px!important;
}

.addcarError {
    background: white none repeat scroll 0 0;
    color: #8e1009;
    margin-left: 2px;
}
.addcarError1 {
    background: white none repeat scroll 0 0;
    color: #8e1009;
    margin-left: 2px;
}

.col.col-50.vehi.slideTop-col{
    border-bottom: 3px solid #8e1009;
}
.col.col-50.geust.slideTop-col{
    border-bottom: 3px solid #8e1009;
}

.notiCount{
  position: absolute;
  margin-left:14px;  
  margin-top: -10px;
  float: left;
  left: 48%;

}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #8e1009;
}
.loginContent {
	height: 100% !important;
}
.loginContent .scroll{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}
.btn-red{
	background-color: #8e1009;
	color: #fff;
	border: none;
	border-radius: 2px;
}
.cars_block img{
	width: 50%;
}