/* your styles go here */

.page-title {
    padding: 30px 0;
}
.multiselect-container {
    height: 400px;
    overflow: auto;
}
.report .dropdown a{
  text-decoration: none;
}
.report .dropdown-menu{
  font-size: 0.9em;
  width: 300px;
  padding: 0;
}
.report .dropdown-menu a{
  color: #212529;
  width: 100%;
  padding: 7px 10px;
}
.report .dropdown-menu a:hover{
  background-color: #e9ecef;
}
.report .dropdown-menu i{
  margin-right: 10px;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-30{
  margin-top: 30px;
}
@media (min-width: 1200px){
  nav.side-navbar {
    width: 220px;
  }
}
@media (max-width: 991px){
  section.statistics {
      padding-top: 50px;
  }
  .table td .btn{
    width: 100%;
    margin-bottom: 5px;
  }
  .table td .btn:last-child{
    margin-bottom: 0;
  }
}
@media (min-width: 768px){
  .container-fluid {
      padding: 0 30px;
  }
}
nav.side-navbar .sidenav-header {
    margin-bottom: 0;
}
nav.side-navbar.show-sm a,nav.side-navbar.shrink a{
  padding-left: 5px;
  padding-right: 5px;
}
.login-page .form-inner, .register-page .form-inner {
    width: 100%;
}
.login-page form, .register-page form {
    max-width: 400px;
}
.login-page .logo img, .register-page .logo img {
    width: 100px;
}
.login-page form input, .register-page form input {
    border: 1px solid #ddd;
    text-align: left;
}
.styled {
  float: left;
  width: auto !important;
  margin-top: 5px !important;
}
.ui-multiselect{
  max-width: 100%;
}
@media (max-width: 590px){
  .report form .form-group{
    width: 100%;
    margin-bottom: 0;
  }
  .report form .form-group input{
    width: 100%;
    margin-bottom: 5px;
  }
}